name: Release Build

on:
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**.md'
  push:
    tags:
      - "v*"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  build-and-release:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: linux
            artifact_name: flauth-linux-x86_64
            asset_extension: .tar.gz
            asset_content_type: application/gzip
          - os: windows-latest
            target: windows
            artifact_name: flauth-windows-x86_64
            asset_extension: .zip
            asset_content_type: application/zip
          # - os: macos-latest
          #   target: macos
          #   artifact_name: flauth-macos-universal
          #   asset_extension: .zip
          #   asset_content_type: application/zip
          - os: ubuntu-latest
            target: apk
            artifact_name: flauth-android
            asset_extension: .apk
            asset_content_type: application/vnd.android.package-archive

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v5

      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          cache: true

      - name: Install dependencies (Linux)
        if: matrix.target == 'linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y clang cmake ninja-build pkg-config libgtk-3-dev liblzma-dev libsecret-1-dev libjsoncpp-dev libgmime-3.0-dev

      - name: Install dependencies (Flutter)
        run: flutter pub get

      - name: Set env(release)
        if: startsWith(github.ref, 'refs/tags/')
        shell: bash
        run: |
          echo "VERSION=${{  github.ref_name }}" >> $GITHUB_ENV
      - name: Set env(dev)
        if: "!startsWith(github.ref, 'refs/tags/')"
        shell: bash
        run: |
          echo "VERSION=unknown" >> $GITHUB_ENV

      - name: Build Linux
        if: matrix.target == 'linux'
        run: |
          flutter build linux --release
          tar -czvf ${{ matrix.artifact_name }}-${{ env.VERSION }}${{ matrix.asset_extension }} -C build/linux/x64/release/bundle .

      - name: Build Windows
        if: matrix.target == 'windows'
        run: |
          flutter build windows --release
          Compress-Archive -Path build\windows\x64\runner\Release\* -DestinationPath ${{ matrix.artifact_name }}-${{ env.VERSION }}${{ matrix.asset_extension }}

      - name: Build macOS
        if: matrix.target == 'macos'
        run: |
          flutter build macos --release
          cd build/macos/Build/Products/Release
          zip -r "$GITHUB_WORKSPACE/${{ matrix.artifact_name }}-${{ env.VERSION }}${{ matrix.asset_extension }}" flauth.app

      - name: Build Android
        if: matrix.target == 'apk'
        run: |
          flutter build apk --release
          cp build/app/outputs/flutter-apk/app-release.apk flauth-android-universal-${{ env.VERSION }}.apk
          flutter build apk --release --split-per-abi
          mv build/app/outputs/flutter-apk/app-armeabi-v7a-release.apk flauth-android-armeabi-v7a-${{ env.VERSION }}.apk
          mv build/app/outputs/flutter-apk/app-arm64-v8a-release.apk flauth-android-arm64-v8a-${{ env.VERSION }}.apk
          mv build/app/outputs/flutter-apk/app-x86_64-release.apk flauth-android-x86_64-${{ env.VERSION }}.apk

      - name: Upload
        if: "!startsWith(github.ref, 'refs/tags/')"
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact_name }}
          path: |
            ${{ matrix.artifact_name }}-${{ env.VERSION }}${{ matrix.asset_extension }}
            flauth-android-*-${{ env.VERSION }}.apk

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            ${{ matrix.artifact_name }}-${{ env.VERSION }}${{ matrix.asset_extension }}
            flauth-android-*-${{ env.VERSION }}.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
