name: Flutter CI

on:
  workflow_dispatch:
  push:
    branches: ["main"]
    paths-ignore:
      - 'docs/**'
      - '**.md'
  pull_request:
    branches: ["main"]
    paths-ignore:
      - 'docs/**'
      - '**.md'

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v5
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          cache: true

      - name: Install dependencies
        run: flutter pub get

      - name: Run formatter
        run: |
          make fmt

      - name: Run linter
        run: |
          make lint

      - name: Run tests
        run: |
          make test
