name: Flutter CI

on:
  workflow_dispatch:
  push:
    branches: ["main"]
    paths:
      - "**.dart"
      - "pubspec.yaml"
      - "pubspec.lock"
      - ".github/workflows/**"
  pull_request:
    branches: ["main"]
    paths:
      - "**.dart"
      - "pubspec.yaml"
      - "pubspec.lock"
      - ".github/workflows/**"

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v5
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          cache: true

      - name: Install dependencies
        run: flutter pub get

      - name: Analyze
        run: flutter analyze

      - name: Run tests
        run: flutter test
